html, body {
    margin: o;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
}
header{
    background-color: #e1e4e9;
    border-radius: 100px;
}
h1{
    margin: 0;
    font-size: 4rem;
    padding: 40px;
    text-align: center;
}
hr{
    border: none;
   background: linear-gradient(-45deg, red, orange, yellow, green, blue, indigo, violet, red);
    height: 20px;
    margin: 0;
}
section{
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}
.large{
    grid-column: span 3;
}
div{
    height: 70px;
    color: transparent;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e1e4e5;
}
div:hover {
    color: black;
    transition: 2s;
    cursor: pointer;
    transform: scale(1.1) 
    translate3d(1px, 1px, 1px)
}
.white .large{
    color: transparent;
    transition: 2s;
    cursor: pointer;
}
.white:hover{
    color: white;
    transition: 2s;
    cursor: pointer;
}
#white:hover{
    color: white;
    transition: 2s;
    cursor: pointer;
}
#white2:hover{
    color: white;
    transition: 2s;
    cursor: pointer;
}
.letter{
    letter-spacing: -15px;
    display: inline-block;
    transition: 2s ease-in-out;
}
span:hover{
    transition: -3s;
    cursor: pointer;
    transform: translateY(-15px);
}